@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

/*==========================================================*/

body {
  font-family: "Lato";
  background: #FFFFFF;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.main__container {
  margin: 0 auto;
  max-width: 810px;
}

/*==========================================================*/

.header__setion {
  padding-top: 20px;
  margin-bottom: 92px;
}
.header__title {
  padding-top: 20px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

/*==========================================================*/

.img__section{
  margin-bottom: 60px;
}
.img {
  max-width: 100%;
  border-radius: 4px;
}
.img__text{
  margin-bottom: 24px;
}
.img__text p{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

/*==========================================================*/

.info__section {
  margin-bottom: 48px;
}
.info__text {
  margin-bottom: 37px;
}
.info__text,
.info__text-sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

/*==========================================================*/

.lorem__section {
  margin-bottom: 48px;
}
.lorem__text {
  display: inline-block;
  padding-left: 58px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

/*==========================================================*/

.mauris__section {
  margin-bottom: 150px;
}
.mauris__text {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 24px;
}
.mauris__items {
  display: inline-block;
  padding-left: 32px;
  margin-bottom: 20px;
}
.mauris__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  padding-bottom: 4px;
}

/*==========================================================*/

.other__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*==========================================================*/

.block {
  margin-bottom: 50px;
}
.block__square {
  max-width: 1200px;
  background: firebrick;
  color: white;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 50px;
  margin-right: 30px;
}

/*==========================================================*/

.inline {
  display: inline-block;
  max-width: 500px;
  background: green;
  color: white;
  padding: 20px;
  outline: 20px solid #000;
  border-radius: 20px;
  max-height: 200px;
}
.inline__text {
  display: inline-block;
  max-width: 500px;
  background: green;
  color: white;
  padding: 20px;
  border:  20px dashed #000;
  border-radius: 20px;
  opacity: 0.7;
  margin-right: 100px;
}

/*==========================================================*/

.circle {
  margin-bottom: 50px;
}
.block-circle {
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: -50px 0px 50px #000;
  margin-right: 280px;
}
.block-circle:last-child {
  margin-right: 0;
}

/*==========================================================*/

.block__scroll {
  background: orange;
  margin-bottom: 50px;
  overflow: scroll;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
}
.block__scroll p {
  display: inline-block;
  font-size: 20px;
  color: #1E212C;
  font-weight: 700;
}

/*==========================================================*/

.block__visible {
  background: orange;
  margin-bottom: 50px;
  overflow: visible;
  max-height: 200px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 70px;
  border: 2px solid #000;
}
.block__span-visible {
  opacity: 0;
}

/*==========================================================*/

.block__hidden {
  background: orange;
  margin-bottom: 50px;
  overflow: hidden;
  max-height: 230px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 70px;
  border: 2px dotted #000;
  min-height : 200px;
}

/*==========================================================*/

.footer {
  margin-bottom: 20px;
}
.footer p {
  text-align: center;
  font-weight: 900;
  color: forestgreen;
  font-size: 30px;
}

/*==========================================================*/
